# 注意, 此配置中的部分选项可能暂时不生效, 请以README中列举出的功能为准

class auth_config(object):

    # 授权系统自动检测总开关, 默认为关闭状态，此时不会自动检测/自动退群/停止响应无授权群聊
    # 设置此项目的是初次使用authMS时系统时的过渡选项, 正式使用应当配置为True
    ENABLE_AUTH = False

# --------------------群组管理相关---------------------

    # 授权到期后是否自动退群
    AUTO_LEAVE = False

    # 新群试用天数, 0天意味着机器人将不接受未授权群的入群邀请, 即便
    # 不允许重复试用, 如果群已经在试用列表且试用过期中仍然会被拒绝
    NEW_GROUP_DAYS = 7

    # 到期前的多少天开始提醒, 设置为0时将不会提醒
    REMIND_BEFORE_EXPIRED = 2

    # 到期后多少天退群, 仅当配置AUTO_LEAVE为True是此项有效, 设置为0则立即退群
    LEAVE_AFTER_DAYS = 7

    # 允许的最大群人数, 3000为不限制, 因为QQ群最大人数为3000
    # 进群后, 立刻检测一次人数（因为进群邀请不包含人数信息）
    MAX_GROUP_NUM = 3000

    # 提醒/检查的时间间隔, 单位小时,
    # 值为1, 意为每小时检查一次, 注意实际每天的检查次数会向下取整
    FREQUENCY = 24

# ----------------------授权列表与卡密列表----------------------------

    # 私聊使用授权列表时, 每页显示的群的个数,不推荐超过10, 否则消息会非常长
    GROUPS_IN_PAGE = 10

#----------------------发言文本---------------------------

    # 离开群之前的发言
    GROUP_LEAVE_MSG = '''
    优衣酱即将退出本群,退群原因:
    '''.strip()

# ------------------------日志-----------------------------
    # 日志, 记录卡密生成, 卡密使用, 群组加入, 群组退出, 群组过期, 好友添加
    LOG = True

    # 调试开关, 记录本系统所有信息
    DEBUG = False
